backend/.env

backend/**/__pycache__/
backend/*.py[cod]
backend/*$py.class

.vscode/
.idea/


backend/dist/
backend/build/
backend/*.egg-info/

backend/esphera_pro.db
backend/recordings/*
backend/responses/*
backend/*db-wal
backend/*db-shm
backend/pytanie.wav
backend/finalna_odpowiedz.wav

.envrc
.venv
.direnv
